<!DOCTYPE html>
<html>
  <head>
    <title>Account Details</title>
  </head>
  <body>
    <h1>Account Number: {{ account.account_number }}</h1>
    <p>Customer: {{ account.customer.name }}</p>
    <p>IFSC Code: {{ account.ifsc_code }}</p>
    <p>Balance: {{ account.balance }}</p>

    <h2>Transactions</h2>
    <ul>
      {% for transaction in transactions %}
      <li>
        {{ transaction.transaction_date }} - {{ transaction.amount }} {{transaction.transaction_status }} with {{ transaction.party_involved }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
