{%load crispy_forms_tags %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

         body{
            background-image: url("{% static 'back.jpeg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.min.css">
    <title>User Login</title>
</head>
<body>
<div class="container" style="width: 500px;">    
    <h1>User Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
